# Java
target/
*.class

# Maven
.mvn/
.settings/
.classpath
.project
.idea/
*.iml

# IDEs and Editors
.idea/
.vscode/
.classpath
.project

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db
